
h1 {
  font-family: 'Anton', sans-serif !important;
  text-align: center;
  margin-bottom: 65px !important;
}
.box {
  background-color: rgba(55, 55, 55, 0.5);
  color:white;
  height: 300px;
}
h3 {
  padding-top: 70px;
  font-family: 'Great Vibes', cursive !important;
  font-size: 22pt !important;

}

.button, .btn {
  background-color: black;
  margin-bottom: 0px;
}
